	body{
		background: #FFF;
	}
	img{
		border-width: 0;
	}
	img#arrow,imgarrowImg{
		width: 147px;
		height: 82px;
	}

	.centered{
		text-align: center;
	}

	#adBanner{
		width:400px;
		height: 75px;
	}